.w{
    background-color: lavenderblush;
    height: 60px;
    width: 1400px;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left:400px ;
}
.h{
    background-color: lavenderblush;
    height: 200px;
    width: 1400px;
    margin-bottom: 20px;
}
.u{
    background-color: white;
    height: 40px;
    width: 500px;
    margin-bottom: 10px;
    
}
.k{
    background-color: white;
    height: 40px;
    width: 500px;
    margin-bottom: 10px;
    
}
.t{
    background-color: white;
    height: 40px;
    width: 500px;
    margin-bottom: 5px;
}
.m{
    background-color:white;
    height: 50px;
    width: 600px;
    margin-bottom: 100px;
}
.lo{
    background-color: gray;
    height: 50px;
}
.do{
    background-color: gray;
    height: 50px;
}
.to{
    background-color: gray;
    height: 50px;
}
.f{
    background-color: lavenderblush;
    height: 90px;
    width: 1000px;
    padding-left: 500px;

}
.ko{
    background-color: gray;
    height: 50px;
    width: 1500px;
}
.ku{
    background-color: gray;
    height: 70px;
    width: 100px;
}
.v{
    background-color: lavenderblush;
    height: 70px;
    padding-left: 40px;
}
.c{
    background-color: white;
    height: 150px;
    width: 800px;
}